.idea
javascript/ES6-modules/node_modules
javascript/webpack-assets/node_modules
javascript/webpack-output-management/node_modules
javascript/webpack-development/node_modules
javascript/linter/node_modules
javascript/transpiler/node_modules
javascript/babel/node_modules
javascript/jest/node_modules
javascript/project-testing/node_modules