.navbar {
    padding: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    border-bottom: 1px solid black;
    height: 150px;
}

.navbar button {
    height: 42px;
    font-size: 15px;
    width: 90px;
    border: 1px solid black;
    border-radius: 20px;
}

.navbar button:hover {
    cursor: pointer;
    background-color: #407FC7;
}