* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.app {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 300px;
}

.app p {
    line-height: 2;
}