html, body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 7vw;
    padding: 25px;
    background-color: #76AEED;
}

.links {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 45px;
    margin-top: 50px;
}