.container {
    margin: 200px;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    grid-auto-rows: 500px;
    column-gap: 10px;
    row-gap: 150px;
}

div {
    border: 1px solid black;
}

.subContainer {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: subgrid;
    grid-auto-rows: 40px;
}

.subContainer div:first-child {
    grid-row: 1 / 3;
}
